@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: "KFO-Normal";
  font-display: swap;
  src: url("../fonts/KFO-Normal.woff") format("woff"), url("../fonts/KFO-Normal.woff2") format("woff2");
  font-weight: initial;
  font-style: initial;
}

@font-face {
  font-family: "KFO-Thin";
  font-display: swap;
  src: url("../fonts/KFO-Thin.woff") format("woff"), url("../fonts/KFO-Thin.woff2") format("woff2");
  font-weight: initial;
  font-style: initial;
}

@font-face {
  font-family: "KFO-Bold";
  font-display: swap;
  src: url("../fonts/KFO-Bold.woff") format("woff"), url("../fonts/KFO-Bold.woff2") format("woff2");
  font-weight: initial;
  font-style: initial;
}

@font-face {
  font-family: "KFO-Regular";
  font-display: swap;
  src: url("../fonts/KFO-Regular.woff") format("woff"), url("../fonts/KFO-Regular.woff2") format("woff2");
  font-weight: initial;
  font-style: initial;
}

.header {
  width: 100%;
}

.header__flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  width: 100%;
  height: 78px;
  margin: 0 auto;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 239px;
          flex: 0 0 239px;
  padding: 20px 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: KFO-Bold;
}

.header__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__items {
  padding: 10px 15px 8px;
  text-transform: uppercase;
  cursor: pointer;
}

.header__items:hover .header__links::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  width: 100%;
}

.header__links {
  display: block;
  color: #008938;
}

.header__links::after {
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  margin-top: 2px;
  display: block;
  content: "";
  position: static;
  border-bottom: 1px solid #006230;
}

.header__order {
  background-color: #008938;
  -webkit-transition: background .1s ease-in-out;
  -o-transition: background .1s ease-in-out;
  transition: background .1s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  color: white;
  width: 120px;
  height: 35px;
  margin-left: 15px;
  padding: 10px 0;
}

.header__order:hover {
  background: #01702f;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  height: 40px;
  width: 40px;
  font-size: 0;
  z-index: 10;
}

.slider .slick-prev {
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -28px 0 0 45px;
  background: initial;
  left: 0;
}

.slider .slick-next {
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: -28px 45px 0 0;
  background: initial;
  right: 0;
}

.slider__items:nth-child(3) .aside__title {
  color: #00572d;
  font-size: 60px;
  font-weight: 900;
  line-height: 56px;
}

.slider__items:nth-child(3) .aside__subtitle,
.slider__items:nth-child(3) .aside .aside__text {
  width: 545px;
  color: #444343;
  font-size: 20px;
  line-height: 28px;
}

.slider .container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

.slider img {
  width: 100%;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 65%;
     object-position: 65%;
}

.slider .aside {
  margin: 165px 0 0 65px;
  position: absolute;
  z-index: 10;
  width: 584px;
}

.slider .aside__title {
  width: 417px;
  font-family: KFO-Bold;
  text-transform: uppercase;
  font-size: 43px;
  color: white;
}

.slider .aside__subtitle {
  font-family: KFO-Regular;
  color: #fff;
  line-height: 2em;
  margin-top: 25px;
  display: block;
  font-size: 20px;
}

.slider .aside__btn {
  background-color: #008938;
  -webkit-transition: background .1s ease-in-out;
  -o-transition: background .1s ease-in-out;
  transition: background .1s ease-in-out;
  font-family: KFO-Bold;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  color: #fff;
  width: 132px;
  height: 45px;
  padding: 15px 0;
}

.slider .aside__btn:hover {
  background: #01702f;
}

.slider .aside__text {
  font-family: KFO-Regular;
  margin-top: 15px;
  font-size: 12px;
  color: white;
  width: 360px;
}