@font-face {
    font-family: "KFO-Normal";
    font-display: swap;
    src: url("../fonts/KFO-Normal.woff") format("woff"), url("../fonts/KFO-Normal.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}
@font-face {
    font-family: "KFO-Thin";
    font-display: swap;
    src: url("../fonts/KFO-Thin.woff") format("woff"), url("../fonts/KFO-Thin.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}
@font-face {
    font-family: "KFO-Bold";
    font-display: swap;
    src: url("../fonts/KFO-Bold.woff") format("woff"), url("../fonts/KFO-Bold.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}
@font-face {
    font-family: "KFO-Regular";
    font-display: swap;
    src: url("../fonts/KFO-Regular.woff") format("woff"), url("../fonts/KFO-Regular.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}