@import "nulling-styles";
@import "fonts";


.header {
    width: 100%;
    &__flex {
        justify-content: space-between;
        display: flex;
        max-width: 1170px;
        width: 100%;
        height: 78px; 
        margin: 0 auto; 
    }
    &__logo {
        flex: 0 0 239px;
        padding: 20px 0;
    }
    &__menu {
        display: flex;
        align-items: center;
        font-family: KFO-Bold;
    }
    &__list {
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__items {
        padding: 10px 15px 8px;
        text-transform: uppercase;
        cursor: pointer;
    }
    &__items:hover .header__links::after {
        transform: scaleX(1);
        width: 100%;
    }
    &__links {
        display: block;
        color: #008938;
    }
    &__links::after {
        transition: transform .3s ease-in-out;
        transform: scaleX(0);
        margin-top: 2px;
        display: block;
        content: "";
        position: static;
        border-bottom: 1px solid #006230;
    }
    &__order {
        background-color: #008938;
        transition: background .1s ease-in-out;
        cursor: pointer;
        text-transform: uppercase;
        text-align: center;
        color: white;
        width: 120px;
        height: 35px;
        margin-left: 15px;
        padding: 10px 0;
    }
    &__order:hover {
        background: #01702f;
    }
}
.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
    align-items: flex-start;
}
.slider {
    position: relative;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    .slick-arrow {
        position: absolute;
        top: 50%;
        height: 40px;
        width: 40px;
        font-size: 0;
        z-index: 10;
    }
    .slick-prev {
        border-bottom: 3px solid #fff;
        border-left: 3px solid #fff;
        transform: rotate(45deg);
        margin: -28px 0 0 45px;
        background: initial;
        left: 0;
    }
    .slick-next {
        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;
        transform: rotate(-45deg);
        margin: -28px 45px 0 0;
        background: initial;
        right: 0;
    }
    &__items:nth-child(3) {
        .aside {
            &__title {
                color: #00572d;
                font-size: 60px;
                font-weight: 900;
                line-height: 56px;
            }
            &__subtitle, .aside__text {
                width: 545px;
                color: #444343;
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
    .container {
        max-width: 1240px;
        width: 100%;
        margin: 0 auto;
    }
    img {
        width: 100%;
        height: 650px;
        object-fit: cover;
        object-position: 65%;
    }
    .aside {
        margin: 165px 0 0 65px;
        position: absolute;
        z-index: 10;
        width: 584px;
        &__title {
            width: 417px;
            font-family: KFO-Bold;
            text-transform: uppercase;
            font-size: 43px;
            color: white;
        }
        &__subtitle {
            font-family: KFO-Regular;
            color: #fff;
            line-height: 2em;
            margin-top: 25px;
            display: block;
            font-size: 20px;
        }
        &__btn {
            background-color: #008938;
            transition: background .1s ease-in-out;
            font-family: KFO-Bold;
            cursor: pointer;
            font-size: 18px;
            text-transform: uppercase;
            text-align: center;
            margin-top: 30px;
            color: #fff;
            width: 132px;
            height: 45px;
            padding: 15px 0;
        }
        &__btn:hover {
            background: #01702f;
        }
        &__text {
            font-family: KFO-Regular;
            margin-top: 15px;
            font-size: 12px;
            color: white;
            width: 360px;
        }
    }
}